.logo {
    width: 174px;
    height: 112px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f9f9f9;
    padding-bottom: 40px;
}

.rlist {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-left: -25%;
}

.ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    margin-right: 20px;
}

.desc {
    display: flex;
    justify-content: center;
    align-items: start;
    list-style: none;
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.li {
    padding-top: 50px;
    list-style: none;
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    margin-right: -15%;
}

.li h3 {
    letter-spacing: .54px;
    font-size: 18px;
    font-weight: 700;
    color: #222;
    font-family: Lato, sans-serif;
    padding-bottom: 10px;

}

.li p {
    line-height: 32px;
    letter-spacing: .96px;
    font-size: 14px;
    color: #777;
    font-family: Lato, sans-serif;

}

.lip {
    padding-top: 50px;
    list-style: none;
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    margin-right: -15%;
    margin-left: -18px;
}

.lip h3 {
    margin-left: 18px;
    letter-spacing: .54px;
    font-size: 18px;
    font-weight: 700;
    color: #222;
    font-family: Lato, sans-serif;
    padding-bottom: 10px;

}

.lip p {
    line-height: 32px;
    letter-spacing: .96px;
    font-size: 14px;
    color: #777;
    font-family: Lato, sans-serif;

}

.desc p {
    line-height: 32px;
    letter-spacing: .96px;
    font-size: 14px;
    color: #777;
    font-family: Lato, sans-serif;

}

.links {
    display: flex;
    padding-top: 20px;
    list-style: none;
}

.clr:hover {
    cursor: pointer;
    color: #5098f8;
    transition: .3s ease-in;
}

.clr {
    color: #777;
    margin-right: 40px;
}

.clr1 {
    color: #777;
    margin-right: 20px;
}


@media only screen and (max-width: 1660px) {
    .flex {
        padding-left: 5%;
        padding-right: 5%;

    }

    .li {
        flex: 0 0 60%;
        margin-right: -25%;
    }

    .rlist {
        margin-left: -40%;
    }

    .lip {
        margin-left: 0;
    }
}