.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .98px;
    color: black;

}

.menud h3 {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .7px;
    margin-left: 16px;
}

.btn:hover {
    color: #5098f8;
}

.btn1 {
    color: black;
    margin-left: 50px;
}

.btn2 {
    color: black;
    margin-left: 25px;
}

.logo {
    width: 174px;
    height: 112px;
    margin-right: 10%;
}

.menud {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuitem:before {
    position: absolute;
    bottom: 0;
    content: "";
    height: 2px;
    width: 0;
    background-color: #5098f8;
    transition: .5s ease;
}

.menuitem:hover:before {
    width: 50px;
}

.bckg {
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: -25%;
    margin-left: -37%;
    padding-bottom: 20%;

}

.description h2 {
    font-family: Lato, sans-serif;
    font-weight: 700;
    letter-spacing: 7.2px;
    color: #777;
    font-size: 18px;
    line-height: 1;
    text-align: center;
}

.description h1 {
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: #222;
    font-size: 60px;
    line-height: 1.2;
    text-align: center;
}


.btnSN {
    margin-top: 3px;
    padding: 13px 29px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-left: 47.5%;
    margin-right: 47.5%;
    color: white;
    cursor: pointer;
}

.btnSN:hover {
    background: white;
    color: #5098f8;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.section {
    padding-top: 30px;
    background-color: white;
}

.ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: -30%;
    padding-left: 340px;
    padding-bottom: 150px;
}


.li h4 {
    font-family: Lato, sans-serif;
    color: #5098f8;
    font-weight: 700;
    letter-spacing: 1.8px;
    margin-bottom: 0;
    font-size: 18px;

}

.li h2 {
    font-family: Lato, sans-serif;
    color: #222;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 6px;
    margin-bottom: 0;
    font-size: 60px;

}

@media only screen and (max-width: 1660px) {
    .section {
        justify-content: space-between;
        padding-left: 14.8%;
        padding-right: 18%;
    }
}