.main {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 5vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    color: #333333;
    font-weight: 500;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}