.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.products h4 {
    font-family: Lato, sans-serif;
    color: #5098f8;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-top: -3px;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: .54px;
}

.products h2 {
    font-family: Lato, sans-serif;
    color: #222;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .72px;
    padding-bottom: 10px;
}

.products:after {
    height: 5px;
    width: 70px;
    background-color: #5098f8;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    margin-bottom: 50px;
}

.ul {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 22%;
    padding-right: 22%;
}

.li {
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 0 0 25%;
    margin: 0 15px 30px;
    max-width: calc(25% - 30px);
}

.li img {
    width: 320px;
    height: 422.72px;
}

.li h6 {
    color: #777;
    line-height: 1;
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 2px;
    transition: all .5s ease;
    font-family: Lato, sans-serif;
    font-weight: 400;
    letter-spacing: .8px;

}

.li h4 {
    color: #222;
    line-height: 1;
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 2px;
    transition: all .5s ease;
    font-family: Lato, sans-serif;
    font-weight: 700;
    letter-spacing: .54px;

}

@media only screen and (max-width: 1660px) {
    .ul {
        padding-left: 3%;
        padding-right: 3%;
    }
}