.table-list{
    table-layout: fixed;
  }
  .table-list td:last-child{
    width: 50px;
  }
  .status{
      text-align: center;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 auto;
    }
  .status-orange{
    background-color: orange;
  }
  .status-green{
    background-color: green;
  }
  .status-gray{
    background-color: gray;
  }
  .cos{
    color: red;
    
  }
  .creion{
    color: green;
  }